.DS_Store

**.egg-info
outputs/
__pycache__/
pretrained/
wandb/
runs/
.hydra/
data/
data_preprocess/
tmp/
lightning_logs/
checkpoints/
Unihand_training/
HandAdapter/dataset_cache
dataset_annotations/
manopth/
sam2/
WiLoR/